{% if page.title %}
  {% assign actual_title = page.title | append: " – " | append: site.title %}
{% endif %}

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    {%- feed_meta -%}
    <title>{{ actual_title | default: site.title }}</title>
  </head>

  <body>
    <main>
      <div class="container">
        {% if page.header %}
          <h1 class="accent">
            {{ page.header }}
          </h1>
        {% endif %}

        {{ content }}
      </div>
    </main>
  </body>

</html>
