---
layout: default
---

{% if page.color1 and page.color2 %}
  <style>
    .post-title {
      background: linear-gradient(180deg, #{{ page.color1 }}, #{{ page.color2 }});
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 4rem;
    }
  </style>
{% endif %}

<article>
  <header>
    <h1 class="post-title">{{ page.title | escape }}</h1>
    <small>
      <time datetime="{{ page.date | date_to_xmlschema }}">
        {%- assign date_format = "%d %b, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {% for tag in page.tags %}
        <span class="badge">{{ tag }}</span>
      {% endfor %}
    </small>
  </header>

  {{ content }}
</article>
